<header>
<h1>{{shop.name}}</h1> 
{{ brand.cover_image | image_url }}
<ul>
  {% for link in linklists.main-menu.links %}
    <li>
      <a href="{{ link.url }}">{{ link.title }}</a>
    </li>
  {% endfor %}
  </ul>
  
  </header>