{% form 'cart', cart %}
  <h1>Your cart</h1>

  {% for item in cart.items %}
    <div>
      <img src="{{ item .image_url }}" width="200px"  height="auto"/>
    <h2> {{ item.title }}</h2>
    <h2> {{ item.price | money }}</h2>
    
    </div>

  {%  endfor %}

  <button type="submit" name="checkout">Checkout</button>
  {%  endform %}