<div class="wrapper">
    {% for collection in collections %}
        <p> {{ collection.title }} </p>

 {% for product in collection.products %}
    <img src="{{ product | image_url }}" width="200px" height="auto">
    <h3>{{ product.title }}</h3>
    <p> {{  product.price }}</p>
 {% else %}
 <p>There's nothing in here</p>
{% endfor %}
{% endfor %}
     </div>