<div class="wrapper">

    {% assign myString = 'Boutique. Theme is under development...'  %}

    <p>   {{ myString }}</p> 

    {% for collection in collections %}
        <p> {% collection.title %} </p>
    {% endfor %}
    </div>