<div class="wrapper">
{% assign String = "Hello" %}
{{ String }}
    {% comment %} {% for collection in collections %}
        <p> {% collection.title %} </p>

        {% else %}
        <p>There's nothing in here</p>
    {% endfor %} {% endcomment %}
    </div>