<div class="wrapper">

    {% assign myString = "Boutique. Theme's under development..." %}

    <p>   {{ myString }}</p> 

   {% capture myString2 %}
    Please Wait.
    {% endcapture %}

    <p>   {{ myString2 }}</p> 
    </div>